/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
}

button{
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  
}
  
